.footer {
    // padding: 120px 0;
    padding: 4.2% 0;

    &__content {
    }

    &__top {
        text-align: center;
        // margin-bottom: 120px;
        margin-bottom: 4.2%;
        @media (max-width: $md1+px) {
            margin-bottom: 10%;
        }
        @media (max-width: $md4+px) {
            margin-bottom: 13%;
            border-top: 1px solid rgba(0, 0, 0, 0.431);
            padding-top: 20px;
        }
    }
    &__sub-title {
        font-family: $fontRoman;
        margin-bottom: 28px / 32px * 1em;
        font-size: 32px;
        line-height: 110%;
        @media (max-width: $md4+px) {
            font-size: 28px;
        }
    }
    &__label {
        margin-bottom: 60px / 32px * 1em;
        @media (max-width: $md4+px) {
            margin-bottom: 0;
        }

        @media (max-width: $md1+px) {
            &._spoller {
                display: flex;
                align-items: center;
                position: relative;
                padding-left: 26px;
                cursor: pointer;
                &::before {
                    content: "";
                    width: 15px;
                    border-bottom: 2px solid;
                    display: inline-block;
                    position: absolute;
                    top: auto;
                    left: -7px;
                }
                &::after {
                    content: "";
                    height: 15px;
                    border-left: 2px solid;
                    display: inline-block;
                    position: absolute;
                    top: auto;
                    left: 0;
                }
            }
        }
    }

    &__text {
        // margin-bottom: 80px;
        margin-bottom: 3.2%;
        @media (max-width: $md1+px) {
            margin-bottom: 8%;
        }
        @media (max-width: $md4+px) {
            font-size: 17px;
        }
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 345px));
        gap: 30px;
        justify-content: space-evenly;
        @media (max-width: 1920px) {
            grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
        }

        @media (max-width: 1682px) {
            grid-template-columns: repeat(auto-fit, minmax(150px, 260px));
            gap: 20px;
        }
        @media (max-width: 1682px) {
            grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
            gap: 20px;
        }
        @media (max-width: 992px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__column {
        @media (max-width: $md1+px) {
            flex: 1 1 80px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @media (max-width: $md4+px) {
            flex: 1 1 40px;
        }
        &_contact {
            .footer__link {
                text-transform: none;
            }
            li {
                &:last-child {
                    line-height: 148%;
                }
            }
        }
    }

    &__list {
        li {
            &:last-child {
                margin-bottom: 0;
            }
        }
        @media (max-width: $md4+px) {
            padding-top: 5%;
        }
    }

    &__link {
        color: $blackColor;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 40px / 24px * 1em;

        img {
            margin-right: 10px;
        }
        @media (min-width: 850px) {
            @include adaptiv-font(24, 14, 14);
        }
    }
}
//========================================================================================================================================================

.footer-form {
}

.form-footer {
    display: inline-block;
    @media (max-width: $md1+px) {
        display: block;
    }
    &__line {
        display: inline-flex;
        border-bottom: 2px solid #d8d8d8;
        width: 800px;
        @media (max-width: $md1+px) {
            width: 100%;
        }
        @media (max-width: $md2+px) {
            width: 90%;
        }
    }

    &__input {
        font-size: 32px;
        line-height: 48 / 32 * 100%;
        letter-spacing: 0.04em;
        color: #8c8c8c;
        @media (max-width: $md2+px) {
            font-size: 25px;
        }
        @media (max-width: $md4+px) {
            font-size: 17px;
        }
    }

    &__button {
        background: none;
        font-family: $fontRoman;
        font-size: 32px;
        line-height: 48 / 32 * 100%;
        letter-spacing: 0.04em;
        color: $blackColor;
        @media (max-width: $md2+px) {
            font-size: 26px;
        }
        @media (max-width: $md4+px) {
            font-size: 20px;
        }
    }
}
//====================================================================================================
