//<FORM ()>====================================================================================================
.form {
    &__row {
    }
    &__column {
    }
    &__line {
    }
    &__input {
    }
    &__button {
    }
    &__error {
    }
}

//</FORM>====================================================================================================

//<BUTTONS (a.btn+tab)>====================================================================================================
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    border: 2px solid $blackColor;
    font-family: $fontRoman;
    font-size: 28px;
    line-height: 28 / 28 * 100%;
    color: $blackColor;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.3s ease-out;
        opacity: 0;
        transform: translate(0, -105%);
        background-color: rgba(0, 0, 0, 0.055);
    }
    &:hover::before {
        transform: translate(0, 0);
        opacity: 1;
    }
    &:active::before {
        transform: translate(0, 105%);
    }
    &_black {
        background-color: $blackColor;
        color: $whiteColor;
        border: none;
    }
    @media (min-width: 1440px) {
        max-height: 100px;
        width: 480px;
    }
    @media (min-width: 850px) {
        max-height: 80px;
        width: 355px;
        border: 2px solid $whiteColor;
        color: $whiteColor;
        font-size: 32px;
        line-height: 32 / 32 * 100%;
        @include adaptiv-font(32, 24, 24);
        &::before {
            content: "";
            background-color: rgba(255, 255, 255, 0.25);
        }
    }
    @media (max-width: $md2+px) {
        width: 400px;
        height: 80px;
        border: 2px solid $blackColor;
        color: $blackColor;
    }
    @media (max-width: $md4+px) {
        width: 85%;
        height: 60px;
        font-size: 22px;
    }
    @media (min-width: 992px) {
        &:hover {
        }
    }
    &._fw {
        width: 100%;
    }
}
//</BUTTONS>====================================================================================================

.btn-grad {
    background-image: linear-gradient(to right, #ece9e6 0%, #ffffff 51%, #ece9e6 100%);
}
.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

//<SELECT (sel+tab)>====================================================================================================
.select {
    position: relative;
    // .select__item
    &__item {
        position: relative;
    }
    // .select__title
    &__title {
        color: #000;
        background-color: #fff;
        cursor: pointer;
        @media (max-width: $md2+px) {
            font-size: 18px;
        }
    }
    // .select__value
    &__value {
        display: flex;
        font-size: 24px;
        @include adaptiv-font(24, 14, 24);
        height: 30px;
        padding: 0px 15px;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        @media (max-width: $md1+px) {
            padding: 0 0 0 8px;
        }
        span {
            // height: 1em;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
        &:before {
            content: "\e90f";
            font-family: "icons";
            display: inline-block;
            transition: all 0.3s ease 0s;
            transform: rotate(90deg);
            margin-left: 10px;
        }
    }
    &__input {
        width: 100%;
        background-color: transparent;
        height: 100%;
    }
    // .select__options
    &__options {
        color: #000;
        display: none;
        position: absolute;
        top: 29px;
        min-width: 150%;
        right: 0;
        background-color: #fff;
        border-top: 0;
        border-top: 0;
        font-size: 14px;
        padding: 10px 0px 5px 0px;
        text-align: right;
        @media (max-width: $md1+px) {
            font-size: 12px;
        }
    }
    // .select__option
    &__option {
        cursor: pointer;
        padding: 5px 15px;
        margin: 0px 0px 0px 0px;
        @media (min-width: 992px) {
            &:hover {
                background: #d9d9d9;
            }
        }
        @media (max-width: $md1+px) {
            padding: 5px 0;
        }
    }
    &._active {
        z-index: 5;
        .select__value {
            &:before {
                transform: rotate(-90deg);
            }
        }
        .select__options {
            display: block;
        }
    }
}
//</SELECT>====================================================================================================

//<INPUT (inp+tab)>====================================================================================================
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.input {
    border-radius: 0 !important;
    width: 100%;
    display: block;
    // padding: 0px 20px;
    &._focus {
    }
    &._error {
        border-bottom: 1px solid red;
    }
    // &.checkbox-line__input._error {
    //     border: 1px solid red;
    // }
}
textarea.input {
    resize: none;
    padding: 0px 0px;
}
//</INPUT>====================================================================================================

//<CHECK (chk+tab)>====================================================================================================
.checkbox {
    &._error {
        .checkbox__text {
            &:before {
                border: 1px solid #ee1212;
            }
        }
    }
}
//</CHECK>====================================================================================================

//<OPTIONS (opt+tab)>====================================================================================================
.options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // .options__item
    &__item {
        position: relative;
        cursor: pointer;
        &._error {
        }
    }
    // .options__input
    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        left: 0;
        top: 0;
        visibility: hidden;
        &:checked + .options__text:before {
        }
        &:checked + .options__text:after {
            transform: scale(1);
        }
    }
    // .options__text
    &__text {
        display: inline-flex;
        align-items: center;
        position: relative;
        font-size: 16px;
        color: #ffffff;
        letter-spacing: -0.3px;
        line-height: calc(20 / 16);
        &:before {
            content: "";
            align-self: flex-start;
            margin: 0px 14px 0px 0px;
            flex: 0 0 20px;
            left: 0;
            top: 0;
            border-radius: 50%;
            width: 20px;
            height: 18px;
            background: #fff;
            border: 1px solid #a7a9ac;
        }
        &:after {
            content: "";
            transition: all 0.3s ease 0s;
            transform: scale(0);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #77243a;
            position: absolute;
            left: 5px;
            top: 4px;
        }
    }
}
//</OPTIONS>====================================================================================================

//<RATING>====================================================================================================
.rating {
    display: flex;
    align-items: flex-end;
    font-size: 40px;
    line-height: 0.75;
    transition: opacity 0.3s ease 0s;
}
.rating.rating_sending {
    opacity: 0.2;
}
.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
    cursor: pointer;
}

.rating__body {
    position: relative;
}
.rating__body::before {
    content: "★★★★★";
    display: block;
}
.rating__active {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.rating__active::before {
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #ffd300;
}

.rating__items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.rating__item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}
.rating__value {
    font-size: 50%;
    line-height: 1;
    padding: 0px 0px 0px 10px;
}
//</RATING>====================================================================================================

//<QUANTITY>====================================================================================================
.quantity {
    width: 88px;
    height: 40px;
    display: flex;
    border: 1px solid rgba(166, 166, 166, 0.45);
    // .quantity__button
    &__button {
        flex: 0 0 30px;
        position: relative;
        cursor: pointer;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transition: all 0.3s ease 0s;
            margin: 0px 0px 0px -4.5px;
            background-color: #a6a6a6;
            width: 9px;
            height: 1px;
        }
        @media (min-width: $md2+px) {
            &:hover {
                &::before,
                &::after {
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
        }
        // .quantity__button_plus
        &_plus {
            &::before {
                transform: rotate(-90deg);
            }
        }
        // .quantity__button_minus
        &_minus {
        }
    }
    // .quantity__input
    &__input {
        flex: 1 1 auto;
        input {
            height: 100%;
            color: #a6a6a6;
            font-size: 12px;
            width: 100%;
            text-align: center;
        }
    }
}
//</QUANTITY>====================================================================================================

//<RANGE>====================================================================================================

//</RANGE>====================================================================================================
