//====================================================================================================
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    display: flex;
    align-items: center;
    @media (min-width: 1800px) {
        padding: 0px 120px;
        height: 125px;
    }
    @media (min-width: 1170px) {
        padding: 0px 60px;
        height: 100px;
    }
    @media (min-width: 850px) {
        padding: 0px 20px;
        height: 70px;
    }

    &__row {
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__logo {
        z-index: 15;
        @media (max-width: 992px) {
            flex: 0 0 100%;
            text-align: center;
        }
    }

    &__actions {
    }
}
.menu {
    a {
        color: $whiteColor;
    }
    li {
        @media (min-width: 992px) {
            margin-right: 7%;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__icon {
    }

    &__body {
        flex: 1 1 auto;
        @media (max-width: 992px) {
            display: none;
            &._active {
                display: block;
                position: fixed;
                z-index: 5;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding-top: 100px;
                background: $blackColor;
            }
        }
    }

    &__list {
        display: flex;
        @media (max-width: 992px) {
            flex-direction: column;
            align-items: center;
            li {
                flex: 0 0 60px;
            }
        }
    }

    &__link {
        font-size: 24px;
        line-height: 20 / 24 * 100%;
        @media (min-width: 992px) {
            @include adaptiv-font(24, 14, 14);
        }

        &_mobile {
            @media (min-width: 992px) {
                display: none;
            }
        }
    }
}
.actions-header {
    flex: 1 1 auto;
    z-index: 15;

    &_pc {
        // flex: 1 1 auto;

        @media (max-width: 992px) {
            display: none;
        }
    }

    &_mobile {
        position: absolute;
        right: 44px;
        top: auto;
        li {
            margin-right: 33%;
            &:last-child {
                margin-right: 0;
            }
        }
        @media (min-width: 992px) {
            display: none;
        }
    }
    &__list {
        display: flex;
        justify-content: flex-end;
    }
    &__link {
        @media (min-width: 992px) {
            @include adaptiv-font(24, 14, 14);
            &_search {
                // display: flex;
                // justify-content: center;
                // align-items: center;
                &::before {
                    content: "\e90e";
                    font-family: "icons";
                    font-size: inherit;
                    margin-right: 15px;
                }
            }
        }
        font-size: 24px;
        line-height: 20 / 24 * 100%;
    }
}

//====================================================================================================
._icon-search-icon {
}

._icon-wishlist-icon {
}

._icon-shopping-cart-icon {
}
//========================================================================================================================================================
.icon-menu {
}

//Burger
.icon-menu {
    display: none;
    @media (max-width: 992px) {
        // display: block;
        position: absolute;
        top: 18px;
        left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
        cursor: pointer;
        z-index: 16;
        span {
            transition: all 0.3s ease 0s;
            // top: calc(50% - 1px);
            // left: 0px;
            // position: absolute;
            width: 100%;
            height: 2px;
            background-color: #fff;
            &:first-child {
                // top: 0px;
            }
            &:last-child {
                // top: auto;
                // bottom: 0px;
                width: 70%;
            }
        }
        &._active {
            span {
                transform: scale(0.5);
                width: 110%;
                &:first-child {
                    // transform: rotate(-45deg);
                    // top: calc(50% - 1px);
                    transform: scale(0.7);
                }
                &:last-child {
                    // transform: rotate(45deg);
                    // bottom: calc(50% - 1px);
                    // width: 100%;
                    transform: scale(0.3);
                }
            }
        }
    }
}
