//MAIN SCREEN====================================================================================================
@media (max-width: $md2+px) {
    .full-screen {
        &__image {
            width: 100%;
            padding-bottom: 104.4%;
        }

        &__body {
            text-align: center;
            padding: 0px 6%;
            transform: translateY(-42px);
        }

        &__title {
            padding: 0px 2%;
            margin-bottom: 40px / 76px * 1em;
        }

        &__text {
            margin-bottom: 42px / 24px * 1em;
        }

        &__button {
        }
    }
}
//========================================================================================================================================================

.full-screen {
    @media (min-width: $md2+px) {
        flex: 1 0 100vh;
        position: relative;
        display: flex;

        &__image {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            overflow: hidden;
            // @media (max-width: $md2+px) {
            //     position: static;
            //     height: auto;
            //     width: 100%;
            //     padding-bottom: 104.4%;
            // }
        }

        &__body {
            position: relative;
            z-index: 2;
            flex: 0 1 50%;
            text-align: left;
            @media (max-width: 2100px) {
                flex: 0 1 60%;
            }
            &_main {
                align-self: flex-end;
                padding: 0 0 7% 10.5%;
            }
            &_vintage,
            &_denim {
                align-self: flex-start;
                padding: 16.5% 0 5% 10.5%;
                @media (max-width: 1500px) {
                    padding: 9.5% 0 5% 10.5%;
                }
            }
            &_rock {
                flex: 0 1 35%;
                align-self: flex-end;
                padding: 0 7.5% 7% 0;
                margin-left: auto;
                @media (max-width: 2100px) {
                    flex: 0 1 50%;
                }
            }
            // @media (max-width: $md2+px) {
            //     display: block;
            //     position: static;
            //     text-align: center;
            //     padding: 0px 6%;
            //     transform: translateY(-42px);
            // }
        }

        &__title {
            margin-bottom: 40px;
            // @media (max-width: $md2+px) {
            //     padding: 0px 2%;
            //     margin-bottom: 40px / 76px * 1em;
            // }
        }

        &__text {
            font-size: 32px;
            line-height: 48 / 32 * 100%;
            color: $whiteColor;
            letter-spacing: 0.04em;
            margin-bottom: 60px;
            @media (min-width: $md2+px) {
                @include adaptiv-font(32, 20, 20);
            }
            // @media (max-width: $md2+px) {
            //     margin-bottom: 42px / 24px * 1em;
            // }
        }

        &__button {
        }
    }
}

//====================================================================================================
.photos {
    @media (max-width: $md2+px) {
        display: none;
    }
    &__row {
        display: flex;
    }

    &__item {
        flex: 0 0 33.333%;
        padding: 0 0 50% 0;
    }
}
// ===================================================================================================
.arrivals {
    ._container {
        @media (max-width: $md2+px) {
            max-width: 100%;
            padding: 0px 0px;
        }
    }

    &__label {
        @media (max-width: $md2+px) {
            padding: 0 2%;
        }
    }

    &__row {
        display: flex;
        padding-top: 60px;
        @media (max-width: $md2+px) {
            display: block;
        }
    }

    &__item {
        flex: 0 0 25%;
        padding: 0 0 37.82% 0;
        @media (max-width: $md2+px) {
            width: 100%;
            padding-bottom: 141%;
        }
    }
}
// =============================================================================================================
.shop-insta {
    ._container {
        @media (max-width: $md2+px) {
            max-width: 100%;
            padding: 0 1%;
        }
    }

    &__header {
        @media (max-width: $md2+px) {
            padding: 0 1%;
        }
    }

    &__label {
        margin-right: 3.76em;
        display: inline-block;
    }

    &__link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        &::after {
            content: "";
            background: url("../img/icons/shevron.svg") 0 0 no-repeat;
            width: 14px;
            height: 24px;
            margin-left: 13px;
        }
    }

    &__gallery {
        display: flex;
        padding: 60px 0 60px;
        @media (max-width: $md2+px) {
            display: block;
        }
    }

    &__column {
        flex: 0 1 50%;
        display: flex;
        @media (max-width: $md2+px) {
            display: block;
        }
        &_right {
            flex-direction: column;
        }
    }

    &__item {
        flex: 0 1 50%;
        padding-bottom: 50%;
        @media (max-width: $md2+px) {
            width: 100%;
            padding-bottom: 100%;
        }

        &_big {
            flex: 0 1 100%;
            padding-bottom: 99.7%;
        }
    }

    &__row {
        display: flex;
        @media (max-width: $md2+px) {
            display: block;
        }
    }

    &__footer {
    }

    &__hashtag {
    }
}
