//MAIN SCREEN====================================================================================================
@media (max-width: $md2+px) {
    .full-screen {
        &__image {
            width: 100%;
            padding-bottom: 104.4%;
        }

        &__body {
            width: 100%;
            text-align: center;
            padding: 0px 6%;
            transform: translateY(-42px);
            &_main {
                align-self: flex-end;
                transform: translateY(-80px);
            }

            @media (max-width: $md3+px) {
                padding: 0px 3%;
                transform: translateY(-30px);
                &_main {
                    transform: translateY(-80px);
                }
            }
            @media (max-width: $md4+px) {
                transform: translateY(-24px);
                &_main {
                    transform: translateY(-80px);
                }
            }
            @media (max-width: $md5+px) {
                transform: translateY(-21px);
                &_main {
                    transform: translateY(-80px);
                }
            }
        }

        &__title {
            padding: 0px 2%;
            margin-bottom: 40px / 76px * 1em;
            text-shadow: 1px -1px 1px #ffffff;
            &.main-screen__title {
                text-shadow: none;
            }
        }

        &__text {
            margin-bottom: 42px / 24px * 1em;
        }
    }
}
//========================================================================================================================================================
.main-screen {
    flex: 1 0 100vh;
    position: relative;
    display: flex;
    width: 100%;

    &__slider {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__image {
        width: 100%;
        height: 100%;
    }
}

.full-screen {
    @media (min-width: $md2+px) {
        flex: 1 0 100vh;
        position: relative;
        display: flex;

        &__image {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            overflow: hidden;
        }

        &__body {
            position: relative;
            z-index: 2;
            flex: 0 1 50%;
            text-align: left;
            @media (max-width: 2100px) {
                flex: 0 1 60%;
            }
            &_main {
                align-self: flex-end;
                padding: 0 0 7% 10.5%;
            }
            &_vintage,
            &_denim {
                align-self: flex-start;
                padding: 16.5% 0 5% 10.5%;
                @media (max-width: 1500px) {
                    padding: 9.5% 0 5% 10.5%;
                }
            }
            &_rock {
                flex: 0 1 35%;
                align-self: flex-end;
                padding: 0 7.5% 7% 0;
                margin-left: auto;
                @media (max-width: 2100px) {
                    flex: 0 1 50%;
                }
            }
        }

        &__title {
            margin-bottom: 40px;
        }

        &__text {
            font-size: 32px;
            line-height: 48 / 32 * 100%;
            color: $whiteColor;
            letter-spacing: 0.04em;
            margin-bottom: 60px;
            @media (min-width: $md2+px) {
                @include adaptiv-font(32, 20, 20);
            }
        }
    }
}

//====================================================================================================
.photos {
    @media (max-width: $md2+px) {
        display: none;
    }
    &__row {
        display: flex;
    }

    &__item {
        flex: 0 0 33.333%;
        padding: 0 0 50% 0;
    }
}
// ===================================================================================================
.arrivals {
    ._container {
        @media (max-width: $md2+px) {
            max-width: 100%;
            padding: 0px 0px;
        }
    }

    &__label {
        @media (max-width: $md2+px) {
            padding: 0 2%;
        }
    }

    &__row {
        display: flex;
        padding-top: 2.4%;
        @media (max-width: $md2+px) {
            display: block;
        }
    }

    &__item {
        flex: 0 0 25%;
        padding: 0 0 37.82% 0;
        @media (max-width: $md2+px) {
            width: 100%;
            padding-bottom: 141%;
        }
    }
}
// =============================================================================================================
.shop-insta {
    ._container {
        @media (max-width: $md2+px) {
            max-width: 100%;
            padding: 0 1%;
        }
    }

    &__header {
        @media (max-width: $md2+px) {
            padding: 0 1%;
        }
    }

    &__label {
        margin-right: 3.76em;
        display: inline-block;
        @media (max-width: $md1+px) {
            display: block;
        }
    }

    &__link {
        display: inline-flex;
        justify-content: center;
        &::after {
            content: "\e90f";
            font-family: "icons";
            margin-left: 10px;
            transition: all 0.3s ease 0s;
        }
        &:hover::after {
            transform: translateX(8px);
        }
    }

    &__gallery {
        display: flex;
        padding: 2.4% 0;
        @media (max-width: $md2+px) {
            display: block;
        }
    }

    &__column {
        flex: 0 1 50%;
        display: flex;
        @media (max-width: $md2+px) {
            display: block;
        }
        &_right {
            flex-direction: column;
        }
    }

    &__item {
        flex: 0 1 50%;
        padding-bottom: 50%;
        @media (max-width: $md2+px) {
            width: 100%;
            padding-bottom: 100%;
        }

        &_big {
            flex: 0 1 100%;
            padding-bottom: 99.7%;
        }
    }

    &__row {
        display: flex;
        @media (max-width: $md2+px) {
            display: block;
        }
    }

    &__footer {
        @media (max-width: $md2+px) {
            padding: 0 2%;
        }
    }

    &__hashtag {
    }
}
