//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "HelveticaNeueLTStd-Lt";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 2880;
$maxWidthContainer: 2880;
$md1: 991.98;
$md2: 850.98;
$md3: 767.98;
$md4: 479.98;
$md5: 375.98;

// Цвета -------------------------------------------------------------
$whiteColor: #fff;
$blackColor: #000f08;

// Шрифты -------------------------
$fontMedium: "HelveticaNeueLTStd-MdEx";
$fontRoman: "HelveticaNeueLTStd-Roman";
$fontBold: "HelveticaNeueLTStd-BdEx";

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
    color: #000;
    font-size: 24px;
    // line-height: 24 / 24 * 100%;
    line-height: 110%;
    height: 100%;
    @media (max-width: $md4+px) {
        font-size: 18px;
    }
    @media (max-width: $md5+px) {
        font-size: 15px;
        line-height: 120%;
    }
    &._lock {
        overflow: hidden;
    }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &._loaded {
    }
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;

    @media (min-width: 1800px) {
        padding: 0px 188px;
    }
    @media (min-width: 1170px) {
        padding: 0px 88px;
    }
    @media (min-width: 850px) {
        padding: 0px 30px;
    }
    @media (max-width: $md1+px) {
        max-width: 800px;
    }
    @media (max-width: $md2+px) {
        max-width: 700px;
    }
    @media (max-width: $md3+px) {
        max-width: none;
        padding: 0 4%;
    }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    &__main-screen {
    }
    &__vintage-screen {
        @media (max-width: $md2+px) {
            margin-top: 5%;
        }
    }
    &__photos {
        @media (max-width: $md2+px) {
            display: none;
        }
    }
    &__arrivals {
        padding: 4.2% 0;
        @media (max-width: $md2+px) {
            padding: 4% 0 9%;
        }
    }
    &__rock-screen {
        padding-bottom: 4%;
    }
    &__insta-shop {
        padding: 4.2% 0;
    }
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
